.sectionOne {
  box-sizing: inherit;
  display: block;
  padding-top: 12.8px;
}

.pageTitle {
  font-weight: 700 !important;
  font-size: 25.6px;
}

.pageTitleArea {
  display: flex !important;
  box-sizing: inherit;
  padding-top: 46px;
  padding-left: 110px;
  padding-right: 110px;
}

.pageTitleItems {
  width: 50%;
}

.sliderTitleArea {
  display: flex !important;
  box-sizing: inherit;
  padding: 0px 198px;
}

.sliderTitle {
  font-weight: 700 !important;
  font-size: 16px;
  text-transform: uppercase !important;
  margin-bottom: 20px;
}

.sliderContainerOne {
  padding-top: 30px;
  box-sizing: inherit;
}

.containerOnePadding {
  padding-left: 110px;
  padding-right: 10px;
}

.featuredNavBar {
  align-items: baseline !important;
  box-sizing: inherit;
  display: flex;
  justify-content: space-between !important;
}

.featuredButton {
  background: none;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-weight: 600;
  line-height: 1.2;
  padding: var(--buttonPadding);
  margin-right: 30px;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.featuredButtonText {
  border-color: #0000;
  color: #00754a;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  vertical-align: middle;
  max-width: 5%;
  height: auto;
  object-fit: contain;
}

.greenContainer {
  box-sizing: inherit;
  display: block;
  line-height: 24px;
  position: static;
  background-color: #d4e9e2;
  padding: 15px 0px;
}

.greenContainerContent {
  display: block;
  padding-left: 110px;
  
}

.containerContentInner {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.containerContentInner > h2 {
  font-weight: 700 !important;
  padding-right: 1.6rem;
}

.contentInnerFlex {
  align-items: center;
  display: flex !important;
  /* margin-top: 1.6rem;
  margin-bottom: 1.6rem; */
  color: #00000094 !important;
}

.buttonOne {
  background: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color: #000000;
  display: inline-block;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.2s ease;
  min-width: 35px;
  min-height: 35px;
}

.buttonOneSpace {
  padding: 10px;
}

.buttonTwo {
  background-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  padding: 7px 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 0.6;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  min-width: 35px;
  min-height: 35px;
}

.termsConditionsLine{
  display: flex !important;
  margin-left: 1325px;
  padding: 0px;
  width: 220px;
  
}

.termsConditionsStyling   {
  color:#00754a;
  display: inline-flex;
  font-weight: 600;
  
}

.termsConditionsStyling > svg {
  color: #00754a;
  width: 18px;
  height: 18px;
  overflow: visible;
  line-height: 1.5;
  fill: currentcolor; 
  margin-left: 5px;

}

.sliderContainerTwo{
  display: block;
  position: relative !important;
  padding-top: 26px;
  padding-bottom: 12px;
}

.containerTwoPadding{
  align-items: baseline !important;
  display: flex;
  padding-left: 110px;
  padding-right: 110px;
  justify-content: space-between !important;

}

.containerTwoTitle{
  color: #000000;
  font-weight: 700 !important;
  font-size: 16px;
  text-transform: uppercase !important;
}

.gridContainer{
  padding: 36px 110px;
  position: relative;
}

