.container {
    max-width: 100%;
    padding: 0rem;
    margin: 0rem auto 6rem;
  
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
  }

  .backToHome {
    margin: 1rem 0 0;
  }